* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

ul {
    list-style: none;
}

ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
}

header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
}

.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
}

#my-form {
    padding: 2rem;
    background: #f4f4f4;
}

#my-form label {
    display: block;
}

#my-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submitbtn {
    display: block;
    width: 100%;
    padding: 16px 32px;
    border: 0;
    background: #4CAF50;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}

.resetbtn {
    display: block;
    width: 100%;
    padding: 16px 32px;
    border: 0;
    background: #4CAF50;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}


/* input[type=submit],
input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
} */

.btn:hover {
    background: #444;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
}

#login-form {
    padding: 2rem;
    background: #f4f4f4;
}

#login-form label {
    display: block;
}

#login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.fetchButton {
    display: block;
    text-align: center;
    width: auto;
    padding: 16px 32px;
    border: 0;
    background: royalblue;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    margin-left: 35%;
}

.table {
    border: 2;
    border-color: green;
    border-style: dashed;
    width: 100%;
    align-self: center;
}

.customth {
    background-color: darkgoldenrod;
    text-align: center;
    color: maroon;
    font-style: bold;
    border-style: solid;
}

.customtabledata {
    background-color: lightpink;
    text-align: center;
    color: blue;
    font-size: small;
    border-style: solid;
    border-color: black;
}